.app {
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  gap: 2px;
  justify-content: center;
  margin: 20px auto;
}

.cell {
  width: 50px;
  height: 50px;
  background: green;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.black, .white {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.black { background: black; }
.white { background: white; }


.cell.valid {
  outline: 2px solid yellow;
}

.cell.valid:hover {
  background: #0a7f0a;
}
